<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LogViewer-{{.LogID}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

    <header class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Log Viewer</a>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <form id="filter">
                        <div class="form-group">
                        <label class="form-label">VerbosityFilter</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="allCheckVerbosity">
                            <label class="form-check-label">Check All</label>
                        </div>                        
                        {{range .VerbosityFilterInfos}}
                        <div class="form-check">
                            {{ if .Checked }}
                            <input class="form-check-input" type="checkbox" name="verbosity" value="{{.Name}}" checked>
                            {{ else }}
                            <input class="form-check-input" type="checkbox" name="verbosity" value="{{.Name}}">
                            {{end}}
                            <label class="form-check-label">{{.Name}}</label>
                        </div>
                        {{end}}

                        <label class="form-label">CategoryFilter</label>
                        <input type="search" class="form-control" autocomplete="off" placeholder="Type to filter..." id="categoryFilterInput">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="allCheckCategory">
                            <label class="form-check-label">Check All</label>
                        </div>
                        {{range .CategoryFilterInfos}}
                        <div class="form-check" name="category">
                            {{ if .Checked }}
                            <input class="form-check-input" type="checkbox" name="categoryCheckBox" value="{{.Name}}" checked>
                            {{ else }}
                            <input class="form-check-input" type="checkbox" name="categoryCheckBox" value="{{.Name}}">
                            {{end}}
                            <label class="form-check-label">{{.Name}}</label>
                        </div>
                        {{end}}

                        </div>
                        <button type="button" class="btn btn-primary" id="applyFilter">Apply</button>
                        </form>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{.LogID}}</h1>
                    <a href="{{.DownloadLink}}">Download</a>
                </div>

                <div id="editor"></div>
            </main>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.14/ace.min.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.14/theme-monokai.min.js"></script>
    <script type="text/javascript">
        var editor;
        var data = "{{.Log}}";

        function updateCategoryAllCheck() {
            var allChecked = $("#filter [name=categoryCheckBox]:checked").length == $("#filter [name=categoryCheckBox]").length;
            $('#allCheckCategory').prop('checked', allChecked);
        }

        function updateVerbosityAllCheck() {
            var allChecked = $("#filter [name=verbosity]:checked").length == $("#filter [name=verbosity]").length;
            $('#allCheckVerbosity').prop('checked', allChecked);
        }

        $(document).ready(function () {
            hsize = $(window).height();
            $("#editor").css("height", hsize * 0.8 + "px");

            editor = ace.edit("editor");
            editor.$blockScrolling = Infinity;
            editor.setTheme("ace/theme/monokai");
            editor.setShowPrintMargin(false);
            editor.setValue(data);
            editor.moveCursorTo(0, 0);
            editor.setReadOnly(true);

            updateCategoryAllCheck();
            updateVerbosityAllCheck();

            $('#applyFilter').click(function() {
                var verbosityQueryParam = ""
                $("#filter [name=verbosity]:checked").each(function() {
                    verbosityQueryParam += $(this).val() + ",";
                })

                var categoryQueryParam = ""
                $("#filter [name=categoryCheckBox]:checked").each(function() {
                    categoryQueryParam += $(this).val() + ",";
                })

                var requestUrl = "/viewer?{{.LogIdQuery}}"
                if (verbosityQueryParam != "") {
                    requestUrl += "&verbosity=" + verbosityQueryParam;
                }

                if (categoryQueryParam != "") {
                    requestUrl += "&category=" + categoryQueryParam;
                }

                location.href = requestUrl;
            });

            $('#allCheckCategory').click(function() {
                $("#filter [name=categoryCheckBox]").prop('checked', this.checked);
            });

            $('#allCheckVerbosity').click(function() {
                $("#filter [name=verbosity]").prop('checked', this.checked);
            });

            $("#filter [name=categoryCheckBox]").click(function() {
                updateCategoryAllCheck();
            });

            $("#filter [name=verbosity]").click(function() {
                updateVerbosityAllCheck();
            });

            $('#categoryFilterInput').on('input', function() {
                const filter =  $('#categoryFilterInput').val().toUpperCase();
                console.log('input value:', filter, 'length:', filter.length);
                $("#filter [name=category]").each(function(index, elem) {
                    const categoryName = $(elem).children('[name=categoryCheckBox]').val().toUpperCase()
                    const visible = categoryName.indexOf(filter) > -1;
                    if (visible) {
                        elem.setAttribute('class', 'form-check');
                    } else {
                        elem.setAttribute('class', 'form-check d-none');
                    }
                });
            });
        });
        $(window).resize(function () {
            hsize = $(window).height();
            $("#editor").css("height", hsize * 0.8 + "px");
            editor.resize();
        });
    </script>
</body>

</html>